VITE_COGNITO_AUTHORITY="https://cognito-idp.ca-central-1.amazonaws.com/ca-central-1_xxxxxxxxx"
VITE_COGNITO_CLIENT_ID="xxxxxxxxxxxxxxxxxx"
VITE_COGNITO_DOMAIN="https://ca-central-xxxxxxxxx.auth.ca-central-1.amazoncognito.com"
VITE_COGNITO_REDIRECT_LOGIN_URI="http://localhost:3000/logged-in"
VITE_COGNITO_REDIRECT_LOGOUT_URI="http://localhost:3000/logged-out"